In [60]:
import pandas as pd
import numpy as np

### Lets download the dataset

In [151]:
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = tables[0][1:]
df.columns = tables[0].iloc[0]
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [152]:
print('Original data Shape:',df.shape)

Original data Shape: (288, 3)

## Lets clean the dataset of 'Not assigned' values at 'Borough' column

In [153]:
df.is_copy = False
df.loc(df['Borough'].replace('Not assigned', np.nan, inplace=True))
df.is_copy = False
df.dropna(subset=['Borough'], inplace=True)
df[1:9]

0  Postcode           Borough     Neighbourhood
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge

In [154]:
print('Shape After data cleanup:',df.shape)

Shape After data cleanup: (211, 3)

## Lets copy 'Borough' value to 'Not assigned' Neighbourhood column

In [155]:
print('Test row:')
df.query('Borough == "Queen\'s Park"')

Test row:

0 Postcode       Borough Neighbourhood
9      M7A  Queen's Park  Not assigned

In [156]:
df['Neighbourhood'].mask(df['Neighbourhood'] == 'Not assigned', df['Borough'], inplace=True)

In [157]:
print('Test row:')
df.query('Borough == "Queen\'s Park"')

Test row:

0 Postcode       Borough Neighbourhood
9      M7A  Queen's Park  Queen's Park

## Transpose data

In [158]:
df_result = df.groupby(["Postcode","Borough"])['Neighbourhood'].apply(lambda tags: ','.join(tags)).reset_index(name = "Neighbourhood")
df_result[1:9]

  Postcode      Borough                                  Neighbourhood
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West

## Check test example row & dataframe shape

In [159]:
df_result.query('Postcode == "M5A"')

   Postcode           Borough             Neighbourhood
53      M5A  Downtown Toronto  Harbourfront,Regent Park

In [160]:
print('Shape After data cleanup:',df_result.shape)

Shape After data cleanup: (103, 3)